---
 const personalImageAlt = "David"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Mechatronic engineer with 3+ years of experience in <strong>Data Analysis</strong>, specialized in <strong>statistical analysis</strong>  and <strong>ETL</strong> with <strong>automation data processing</strong>. A Proficient in data analysis and problem-solving graduated of Mohawk College’s Analytics for Business Decision Making program and International Business Management postgraduate certificates.
    </p>

    <p>
      I possess strong problem-solving and analytical skills, with a keen attention to detail and adaptability to learn new technologies. My excellent verbal and written communication, organizational, and interpersonal skills complement over a year of experience in analyzing large datasets and relational databases. I am proficient in key analytical, modeling, statistical, and programming tools, and adept at utilizing business intelligence and data analytics software for data identification, consolidation, reporting, and trend analysis.
    </p>

    <p>
      Proficient in utilizing a diverse array of technologies including Python for programming tasks and data analysis, SQL, MySQL, and PostgreSQL for database management, Power BI, Tableau, Matplotlib, and dash for data visualization. Experienced in collaborating efficiently using Git and Jira, with foundational proficiency in AWS services such as EC2, Lambda, CloudWatch, S3, redshift, glue, and ECR for cloud-based solutions.
    </p>

  </div>

  <img width="200" height="200" src="/david.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

